// NeueHaasUnica
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-ExtLtIta.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeueHaasUnica';
  src: url('../assets/fonts/NeueHaasUnica/NeueHaasUnica-ExtBlkIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// FuturaTSNew
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNewExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNewLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNew.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNewMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNewBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNewExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaTSNew';
  src: url('../assets/fonts/FuturaTSNew/FuturaTSNewHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
