.card {
    padding-bottom: 30px;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.visible {
    opacity: 1;
}

.body {
    display: flex;
    flex-direction: row;
    .title {
        font-size: 54px;
    }
}
