.inner {
    padding: 40px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo img {
    max-width: 100px;
    width: 100px;
    display: block;
}

.nav a {
    margin-right: 30px;
    font-weight: 700;
    font-size: 1.375rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;

    &:hover {
        color: #ff6600;
        text-decoration: none;
    }

    &:last-child {
        margin-right: 0;
    }
}
