.inner {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'FuturaTSNew', system-ui, sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}
